*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header
{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}
header nav a
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
}